:root {
    --bg-color: #ebebeb;
    --text-color: #5d5d5d;

    // success colors
    --success-color: #53bd57;
    --success-color-dark: #3f9742;
    --success-color-light: #8ddb90;

    // dismiss colors
    --dismiss-color: #dd3a3a;
    --dismiss-color-dark: #b83434;

    // card border color
    --border-color: #ddd;

    // default button colors
    --btn-default-color: black;
    --btn-default-hover-color: #333;
    --btn-default-disabled-color: #888;
    --btn-default-disabled-hover-color: #7b7b7b;
}

body {
    display: block;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

nav {
    padding: 4px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    a {
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
    }
}

hr {
    margin: 16px 0px;
}

.main-content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 44px - 96px);
}

.container {
    padding: 24px;
    width: 100%;
    max-width: 1200px;
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    .grid-column {
        padding: 12px;
    }

    .grid-column-5 {
        grid-column: span 5;
    }

    .grid-column-7 {
        grid-column: span 7;
    }
}

.button {
    padding: 8px 12px;
    background-color: var(--btn-default-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--btn-default-hover-color);
}

.button:disabled {
    background-color: var(--btn-default-disabled-color);
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: var(--btn-default-disabled-hover-color);
    cursor: not-allowed;
}

.button-success {
    background-color: var(--success-color);
}

.button-success:hover {
    background-color: var(--success-color-dark);
}

.button-success:disabled {
    background-color: var(--success-color-light);
    cursor: not-allowed;
}

.button-success:disabled:hover {
    background-color: var(--success-color);
    cursor: not-allowed;
}

.button-dismiss {
    background-color: var(--dismiss-color);
}

.button-dismiss:hover {
    background-color: var(--dismiss-color-dark);
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .recipe-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        padding: 8px 12px;
        gap: 12px;
        .recipe-info {
            h3,
            p {
                color: var(--text-color);
                margin: 8px 0px;
            }
            p {
                font-size: 12px;
            }
        }
        img {
            max-height: 70px;
            border-radius: 2px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    .form-input {
        display: flex;
        color: var(--text-color);
        width: 100%;
        padding: 12px 0px;
        &.row {
            flex-direction: row;
        }
        &.column {
            flex-direction: column;
        }
        .form-input-field {
            padding: 8px;
            border: 1px solid;
            border-radius: 4px;
            border-color: var(--border-color);
            font-size: 14px;
        }
        .form-input-field:focus {
            outline: none;
        }
        label {
            margin-bottom: 4px;
            font-size: 12px;
            font-weight: bold;
        }
    }
    img {
        border-radius: 2px;
        max-width: 300px;
        height: auto;
    }
}

.max-width-full {
    max-width: 100%;
}

.width-60 {
    width: 60%;
}

.width-20 {
    width: 20%;
}

.width-fit-content {
    width: fit-content;
}

.ingredient-add-boxes {
    padding: 4px 0px;
    gap: 28px;
}
