body {
    display: block;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

nav {
    padding: 4px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #ebebeb;
    color: #5d5d5d;
    a {
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
    }
}

hr {
    margin: 16px 0px;
}

.main-content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 44px - 96px);
}

.container {
    padding: 24px;
    width: 100%;
    max-width: 1200px;
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);

    .grid-column {
        padding: 12px;
    }

    .grid-column-5 {
        grid-column: span 5;
    }

    .grid-column-7 {
        grid-column: span 7;
    }
}

.button {
    padding: 8px 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
    background-color: #333333;
}

.button:disabled {
    background-color: #888888;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #7b7b7b;
    cursor: not-allowed;
}

.button-success {
    background-color: #53bd57;
}

.button-success:hover {
    background-color: #3f9742;
}

.button-success:disabled {
    background-color: #8ddb90;
    cursor: not-allowed;
}

.button-success:disabled:hover {
    background-color: #64c767;
    cursor: not-allowed;
}

.button-dismiss {
    background-color: #dd3a3a;
}

.button-dismiss:hover {
    background-color: rgb(184, 52, 52);
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .recipe-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #dddddd;
        border-radius: 4px;
        padding: 8px 12px;
        gap: 12px;
        .recipe-info {
            h3,
            p {
                color: #5d5d5d;
                margin: 8px 0px;
            }
            p {
                font-size: 12px;
            }
        }
        img {
            max-height: 70px;
            border-radius: 2px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    .form-input {
        display: flex;
        width: 100%;
        padding: 12px 0px;
        &.row {
            flex-direction: row;
        }
        &.column {
            flex-direction: column;
        }
        .form-input-field {
            padding: 8px;
            border: 1px solid;
            border-radius: 4px;
            font-size: 14px;
        }
        label {
            margin-bottom: 4px;
            font-size: 12px;
            font-weight: bold;
        }
    }
    img {
        border-radius: 2px;
        max-width: 300px;
        height: auto;
    }
}
