.button {
  padding: 8px 12px;
  background-color: var(--btn-default-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: var(--btn-text-desktop-font-size);
}

.button:hover {
  cursor: pointer;
  background-color: var(--btn-default-hover-color);
}

.button:disabled {
  background-color: var(--btn-default-disabled-color);
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: var(--btn-default-disabled-hover-color);
  cursor: not-allowed;
}

.button-success {
  background-color: var(--success-color);
}

.button-success:hover {
  background-color: var(--success-color-dark);
}

.button-success:disabled {
  background-color: var(--success-color-light);
  cursor: not-allowed;
}

.button-success:disabled:hover {
  background-color: var(--success-color);
  cursor: not-allowed;
}

.button-dismiss {
  background-color: var(--dismiss-color);
}

.button-dismiss:hover {
  background-color: var(--dismiss-color-dark);
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: var(--btn-text-mobile-font-size);
  }
}
