.form {
  display: flex;
  flex-direction: column;
}
.form .form-input {
  display: flex;
  color: var(--text-color);
  width: 100%;
  padding: 12px 0px;
}
.form .form-input.row {
  flex-direction: row;
}
.form .form-input.column {
  flex-direction: column;
}
.form .form-input .form-input-field {
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--border-color);
  font-size: var(--input-placeholder-desktop-font-size);
}
.form .form-input .form-input-field:invalid {
  border: 1px solid red;
}
.form .form-input .form-input-field:focus {
  outline: none;
}
.form .form-input label {
  margin-bottom: 4px;
  font-size: var(--input-label-desktop-font-size);
  font-weight: bold;
}
.form img {
  border-radius: 2px;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.ingredient-add-boxes {
  padding: 4px 0px;
  gap: 28px;
}

@media only screen and (max-width: 768px) {
  .form .form-input .form-input-field {
    font-size: var(--input-placeholder-mobile-font-size);
  }
  .form .form-input label {
    font-size: var(--input-label-mobile-font-size);
  }
}
