.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-medium);
}

.employee-header:hover {
  cursor: pointer;
}

.employee-header .header-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.employee-details {
  display: none;
  padding: 0px var(--spacing-medium);
  font-size: var(--font-size-base);
}

.status-badge {
  text-transform: uppercase;
  padding: var(--padding-small);
  border-radius: var(--spacing-medium);
  font-weight: var(--font-bold);
  color: var(--color-snow-white);
  font-size: var(--font-size-small);
}

.status-badge.good {
  background-color: var(--color-christmas-green);
}

.status-badge.bad {
  background-color: var(--color-christmas-red);
}

.show {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-medium);
}

.employee-details.show {
  border: var(--border-size) solid var(--color-border);
  border-radius: var(--border-radius-bottom);
}

.employee-header.drawer-open {
  border-bottom: 0px;
  border-radius: var(--border-radius-top);
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-small);
}

.employee-name {
  font-weight: var(--font-bold);
  font-size: var(--font-size-medium);
}

.employee-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-small);
}

@media (max-width: 768px) {
  dl {
    gap: var(--spacing-medium);
  }
  .employee-buttons {
    grid-template-columns: 1fr;
  }
}
